<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day18</title>
</head>
<body>
    <a th:href="@{create/}">Create User</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>UserName</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${user}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.userName}"></td>
                <td>
                    <a th:href="@{/update/{id}(id = ${user.id})}">Edit User</a>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>